.container{
    position: relative;
    /* max-width: 800px; */
    /* transition: 2s ease; */
}
body{
    width: 100%;
    height: 100px; 
    margin: 0;
    background-color: black;
}

/* 
.img{
    border-radius: 0px;
    height:auto;
    display: block;
    width:100%;
}

.small{
    position: absolute;
    letter-spacing: 5px;
    color: aliceblue;
}

.big{
    position: absolute;
    color: aliceblue;
} */

.container {
    position: relative;
    /* width: 80%;
    max-width: 800px; */
}

.container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    opacity: 0.85;
}

.small, .big {
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    text-align:center;
}

.small {
    top: 30%;
    font-size: 45px;
    font-weight: 400;
}

 .big {
    top: 40%;
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #ff0d00;
} 
